$color-black-1: #363343;

$color-white-1: #FFFFFF;
$color-white-2: #DDE7E8;

$color-grey-1: #A1A3A1;
$color-grey-2: #889188;

$color-yellow-1: #E99D4C;
$color-red-1: #FB380D;
$color-purple-1: #8374D0;
