<div class="component-wall-detail" *ngIf="visibleImage">
  <!-- Image Detail -->
  <div class="image-detail">
    <div class="image-background"
      [style.backgroundImage]="'url('+ visibleImage.url +')'">
    </div>
    <div class="image-revealer" [ngClass]="{ 'show': showImage, 'hide': !showImage }"></div>
  </div>

  <!-- Image Metadata -->
  <div class="image-data" [ngClass]="{ 'hide': !showImage }">
    <div class="author-image" *ngIf="userImage">
      <img [src]="userImage">
    </div>
    <div class="author-meta">
      <h2>{{ visibleImage.from }}</h2>
      <div class="time">{{ visibleImage.createdAt | date:'shortTime' }}</div>
    </div>
  </div>
</div>
