.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .slider-item {
    position: absolute;
    margin-left: 15%;
    width: 70%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;

    transition: all 1.7s cubic-bezier( .55, 0, .1, 1);
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;

    img {
      position: relative;
      top: 50%;

      width: 100%;
      height: auto;

      transform: translate3d(0, -50%, 0);
    }
  }

}
