@import "../_shared/_styles.scss";

:host {
  display: flex;

  height: 100%;
  width: 100%;
}

.component-wall {
  display: flex;

  height: 100%;
  width: 100%;

  app-wall-detail {
    flex: 2.61803398875;
  }

  app-wall-images {
    flex: 1;
  }
}
