<!-- <div class="wall" [ngStyle]="{ 'background-image': 'url(' + imageLink +')' }"></div> -->
<div class="wall">

  <!-- Header -->
  <div class="wall-header">
    <h2 class="title is-4">{{ imagePosition + 1 }} / {{ imageList.length }}</h2>
  </div>

  <!-- Picture Area -->
  <div class="wall-pictures">

    <app-slider [sliderImages]="imageList" (sliderPosition)="onPositionChange($event)"></app-slider>

  </div>

  <!-- Picture Description -->
  <div class="wall-desc" *ngIf="imageDesc">
    <p class="subtitle is-6">{{imageDesc.created_time | date:'shortTime' }}</p>
    <p class="title is-5">{{ imageDesc.from.name }}</p>
  </div>

</div>
