<div class="component-wall">

  <!-- Empty state -->
  <div class="wall-empty" *ngIf="!feedItemVisible">
    No pictures or posts available yet <i class="material-icons">sentiment_dissatisfied</i>
  </div>

  <!-- Image Detail -->
  <app-wall-detail
    [item]="feedItemVisible">
  </app-wall-detail>

  <!-- All available Images -->
  <app-wall-images
    *ngIf="imageList.length > 0 && feedItemVisible"
    [images]="imageList">
  </app-wall-images>

  <div class="error-feedback" *ngIf="errorFeedback">
    {{ errorFeedback }}
  </div>
</div>
